

/*fonts */
@font-face{
    font-family: "Raleway-Regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face{
    font-family: "Raleway-Medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face{
    font-family: "Raleway-Bold";
    src:url(../fonts/Raleway-bold.ttf)
}
@font-face{
    font-family: "Raleway-extraBold";
    src:url(../fonts/Raleway-extrabold.ttf)
}
@font-face{
    font-family: "Raleway-Semibold";
    src:url(../fonts/Raleway-Semibold.ttf)

}
@font-face{
    font-family: "Raleway-Black";
    src:url(../fonts/Raleway-Black.ttf)
}

:root{
    --primary:#0a56e4;
    --secondary:#232838;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#20333F;
    --biku:rgb(255, 0, 170);
}

.marquee{
    padding:0px;
    margin-top: 60px;
    margin-bottom:-50px;
    color: maroon;
    
}

header.hero{
    height: 80vh;
    width: 100%;
    
    background-image: url(../images/cdc-k0KRNtqcjfw-unsplash.jpg);
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition:5s;
    animation-name:animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    
    
    }
    
    @keyframes animate{
        0%{
            background-image: url(../images/m3.jpg);
        }
        20%{
            background-image: url(../images/m2.jpg);
        }
        40%{
            background-image: url(../images/m6.jpg);
        }
        60%{
            background-image: url(../images/m12.jpg);
        }
        80%{
            background-image: url(../images/m4.jpg);
        }
        100%{
            background-image: url(../images/m5.jpg);
        }
    }

    
.btns{
    padding: 0.95rem 0.95rem;
    border-radius: 15px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    line-height: 0.9;
    font-size: 1.3rem;
    cursor:pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 1px solid transparent;
    position: relative;
    top: 50%;
    left: 36%;
    margin-top: 2rem;
}

.btn{
    padding: 0.95rem 0.95rem;
    border-radius: 15px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    line-height: 0.9;
    font-size: 1.3rem;
    cursor:pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 1px solid transparent;
  
}
.btn-primary{
    background: var(--heaven);
    color:var(--secondary);
    border:1px solid var(--secondary)
}
.btn-primary:hover{
    background: var(--secondary);
    color:var(--heaven);
    border:1px solid var(--light)
}
.btn-secondary{
    background: var(--biku);
    color:var(--heaven);
}
.btn-secondary:hover{
    background: var(--heaven);
    color: var(--biku);
    border:1px solid var(--biku);
}

   
    header .row .right h1{
        font-family: "Raleway-extrabold";
        color: var(--pure);
        margin-top:-25%;
    
    } 
    header .row .right .haha img{
        animation:gocorona 3s linear infinite;
    }

    
    @keyframes gocorona{
        0%{ transform:rotate(0);}
        100%{ transform:rotate(360deg);}
        
    }
    header .row .leftside img{
        margin-top: -37%;
        
    }
    
    header.hero h2 {
    color: var(--light);
    font-family: "Raleway-extrabold";
    color: var(--pure);
    font-size: 3.5rem;
    margin-bottom: 0.75rem;
    margin-left: 25rem;
    margin-top: 1rem;
    }
    

    header.hero .gudduaa{
        margin-left: 55%;
        margin-bottom: -2%;
    }
    
    section.about-meal{
        background-image: url("../images/m20.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        background-attachment: fixed;
        
    }
    section.about-meal h1{
        color: black;
    }
    section.about-meal h2{
        font-family: "Raleway-bold";
        font-size: 1.8rem;
        color: var(--secondary);
        margin-bottom: 2rem;
        line-height: 1.2;
      
    }
    section.about-meal p{
        line-height: 2;
        margin-bottom: 5rem;
    
    }
    .foody-img{
        position: relative;
        animation:rotate 3s infinite;
        animation-timing-function: linear; 
       
    }
   
   
    @keyframes rotate{
        0%{ transform:rotate(0);}
        100%{ transform:rotate(360deg);}
    }
   
.flex{
    display:flex;
}
.justify-between{
    justify-content:space-between;
}
.items-center{

	align-items:center;
}


.justify-center{
    justify-content: center;
}


header .hero .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  

.btns{
    padding: 0.95rem 0.95rem;
    border-radius: 7px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    line-height: 0.9;
    font-size: 1.3rem;
    cursor:pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 1px solid transparent;
    position: relative;
    top: 50%;
    left: 40%;
    margin-top: 2rem;
}

.btn{
    padding: 0.95rem 0.95rem;
    border-radius: 7px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    line-height: 0.9;
    font-size: 1.3rem;
    cursor:pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 1px solid transparent;
  
}
.btn-primary{
    background: var(--heaven);
    color:var(--secondary);
    border:1px solid var(--secondary)
}
.btn-primary:hover{
    background: var(--secondary);
    color:var(--heaven);
    border:1px solid var(--light)
}
.btn-secondary{
    background: var(--biku);
    color:var(--heaven);
}
.btn-secondary:hover{
    background: var(--heaven);
    color: var(--biku);
    border:1px solid var(--biku);
}
header.hero button:first-child{
    margin-right: 0.50rem;
}
header.hero .hero-image{
    position: absolute;
    top: 600px;
    right: 50px;
    margin-left: 20px;
    
}

section{
    padding: 2.3em 0;
}
section.top-products{
    background:   linear-gradient(
        rgba(35, 43, 56, 0.9),
        rgba(35, 43, 56, 0.9)
    ), url(./images/food-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
}

.section-heading{
    font-family: "Raleway-bold";
    color: rgb(22, 21, 21);
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
 
}


.text-center{
    text-align: center;
}


 
 .top-products .btn-wrapper{
     margin-top: 2rem;
 }
 .slick-track{
     padding: 1rem 0;
 }
 section.about-meal img{
     width: 85%;
 }
 .flex-1{
     flex:1;
 }
 #menu{
    background: var(--ternary);
    color: var(--light);
}



   
 
    .foody-img{
        position: relative;
        animation:imgLeft 3s infinite;
        animation-delay: 1s; 
        animation-timing-function: linear; 
       
    
    }
   
   
 .text-primary{
     color:var(--primary)
 }
 section.big-deal{
     background: linear-gradient(
         rgba(23, 43, 45, 0.9),
         rgba(35, 43, 56, 0.9)
     ), url(./images/table.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     height:700px;

}

section.symptoms{
    background-image: url("../images/m113.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
   
.symptoms p{
    color: rgb(253, 253, 253);
    font-size:20px;
    margin-left:90px;
    margin-right: 90px;
    font-family: cursive;
}
     .text-pure{
         color: var(--pure);
     }
  

     
    .section-heading{
        font-family: "Raleway-bold";
        color: rgb(22, 18, 18);
        font-size: 2rem;
        text-align: center;
        position: relative;
        margin-bottom: 1rem;
     
    }
    .section-heading:after{
        content:'';
        display: block;
        width:100%;
        height: 10px;
        background-image: url(./icons/hr.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        bottom: -40px;
    }
    
    .content{
        margin:auto;
        width:190px;
        perspective: 1000px;
        position: relative;
        padding-top: 80px;
    }




    .box{
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 15px;
        margin: 0 auto;
      }
      .card{
        position: relative;
        width: 300px;
        height: 350px;
        background: #fff;
        margin: 0 auto;
        border-radius: 30px;
        box-shadow:0 2px 10px rgba(0,0,0,.2);
      }
      .card:before,
      .card:after
      {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: rgb(243, 11, 146);
        transition: 0.5s;
        z-index:-1;
      }
      .card:hover:before{
      transform: rotate(20deg);
      box-shadow: 0 2px 20px rgba(0,0,0,.2);
      }
      .card:hover:after{
      transform: rotate(10deg);
      box-shadow: 0 2px 20px rgba(0,0,0,.2);
      }
      .card .imgBx{
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      background: #222;
      transition: 0.5s;
      z-index: 1;
      }
      
      .card:hover .imgBx
      {
        bottom: 80px;
      }
    
      .card .imgBx img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    
      .card .details{
          position: absolute;
          left: 10px;
          right: 10px;
          bottom: 10px;
          height: 60px;
          text-align: center;
      }
    
      .card .details h2{
       margin: 0;
       padding: 0;
       font-weight: 600;
       font-size: 20px;
       color: #777;
       text-transform: uppercase;
      } 
    
      .card .details h2 span{
      font-weight: 500;
      font-size: 12px;
      color: #f38695;
      display: block;
      margin-top: 5px;
       } 



